body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: url(images/donation1.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 80vh;
  top: 0;
  text-align: center;
  color: white;
}

.header-title {
  margin-top: 0;
  padding-top: 90px;
  font-size: 52px;
  margin-bottom: 10px;
}

.header-para {
  margin-top: 4px;
}

.donate-btn {
  background-color: #ff5959;
  border: 0;
  color: white;
  padding: 5px 7px;
  height: 56px;
  width: 160px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.donate-today {
  text-align: center;
}
.donate-today-title {
  font-size: 45px;
}
.donation-amount {
  display: flex;
  justify-content: center;
}
.single-donation {
  height: 123px;
  width: 135px;
  left: 338px;
  top: 979px;
  background-color: #fafafa;
  border-radius: 5px;
  margin: 0 10px;
}
.donate-para {
  font-style: Bold;
  font-size: 30px;
  color: #707070;
  cursor: pointer;
}

.single-donation:hover {
  background-color: #ff5959;
}

.donate-para:hover {
  color: white;
}
#donate-input {
  border: 0;
  border-bottom: 1px solid #dadada;
  margin: 50px;
  text-align: center;
  width: 50%;
}

.donate-btn-2 {
  background-color: #ff5959;
  border: 0;
  color: white;
  padding: 5px 7px;
  height: 46px;
  width: 150px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 7px;
}

.donate-plan {
  text-align: center;
}
.donate-plane-cards {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.single-card {
  height: 250px;
  width: 350px;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  margin: 0 10px;
}
#color-one {
  background-color: rgba(79, 157, 166, 0.1);
}
#color-two {
  background-color: rgba(255, 89, 89, 0.1);
}
#color-three {
  background-color: rgba(253, 157, 166, 0.1);
}

.update {
  text-align: center;
}

.email-section {
  background-color: #fff4d6;
  height: 150px;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

.email-section input,
button {
  margin-top: 90px;
}

.email-section input {
  background-color: lightgray;
  border: none;
  padding: 6px;
  margin-right: 0;
  border-radius: 5px 0 0 5px;
}
.email-section button {
  margin-left: -5px;
  border: none;
  background-color: #ff5959;
  padding: 6px;
  color: white;
  border-radius: 0 5px 5px 0;
}
